<table class="table stripped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Designantion</th>
        <th scope="col">description</th>
        <th scope="col">Image</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of data?.data;let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{r?.name}}</td>
        <td>{{r.designation}}</td>
        <td>{{r.description}}</td>
        <td>{{r.imgurl}}</td>
        <td><button class="btn btn-primary">Edit</button></td>
      </tr>
    </tbody>
  </table>