<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h1>
        | OUR SPONSORS
      </h1>
    </div>
  </div>
  <div class="spcont container">
    <div class="row justify-content-center">
      <div *ngFor="let img of data?.data; let i = index" class="col-6 col-sm-6 col-md-2 my-3">
        <div class="ratio img-responsive img-circle" [ngStyle]="{'background-image':'url(getSponsorsURL(i))'}"></div>
      </div>
    </div>
    <div class="text-center my-3">
        <h3>A big thank to our Sponsors</h3>
      </div>
  </div>
  <img class="spimg" src="../../../assets/images/sponsors-back.svg" alt="">
</div>
