<div class="card bg-light mb-3 center text-center" style="max-width: 50rem;">
  <h3 class="card-header ">Admin Login</h3>
  <div class="card-body">
    <form (ngSubmit)="onLogin(f)" #f=ngForm>
      <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label-lg">Username</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-lg" id="username" placeholder="Username" name="username" required ngModel>
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label-lg">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control form-control-lg" id="password" placeholder="Password" name="password" required ngModel>
        </div>
      </div>
      <div class="form-group row ">
        <div class="col">
          <button type="submit" class="btn btn-lg btn-primary">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>