<!-- <p>
  ta-home works!
</p>
<button [routerLink]="['sponsors']">View Sponsors</button>
<button [routerLink]="['admin']">Admin</button> -->
<div class="team container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="cross">
        <img src="../../../assets/images/X-animated.svg" alt="">
      </div>
      <h1>| TEAM</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div *ngFor="let img of data?.results;let i = index" [class.down]="i%2 !== 0" class="cont-image col-md-2 col-lg-2 col-sm-6 col-6 my-3">
        <div class="ratio img-responsive img-circle" [ngStyle]="{'background-image':'url('+img?.picture.large+')'}"></div>
        <div class="overlay">
            <div class="text">Name Full</div>
          </div>
      </div>
    </div>
  </div>
  <div class="cross2">
      <img src="../../../assets/images/X-animated.svg" alt="">
    </div>
</div>
<!-- Contact us -->
<div style="padding: 0; margin: 0;" class="contact-us container-fluid">
    <div style="padding: 15px; margin: 0;" class="row">
        <div class="col-md-12">
          <h1>| CONTACT US</h1>
        </div>
      </div>
      <div style="padding: 30px;" class="form-back-red container-fluid">
      <div class="container">
        <div style="padding: 40px;width:80%;"  class="row form-back-black mx-auto">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Enter Name" name="name" [(ngModel)]="model.name" #name="ngModel" [ngClass]="{ 'is-invalid': name.touched && name.invalid }" required>
                    <div *ngIf="name.touched && name.invalid " class="invalid-feedback">
                        <div *ngIf="name.errors.required">Team Name is required</div>
                    </div>
                  </div>
                 <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" placeholder="Enter email" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': email.touched && email.invalid }" pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' required>
                    <div *ngIf="email.touched && email.invalid" class="invalid-feedback">
                        <div *ngIf="email.errors.required">Email is required</div>
                        <div *ngIf="email.errors.pattern">Enter a valid email</div>
                      </div>
                  </div>
               <div class="form-group">
                    <label>Message</label>
                    <textarea class="form-control" rows="3" placeholder="Enter Message" name="message" [(ngModel)]="model.message" #message="ngModel" [ngClass]="{ 'is-invalid': message.touched && message.invalid }" required></textarea>
                    <div *ngIf="message.touched && message.invalid " class="invalid-feedback">
                        <div *ngIf="message.errors.required">Message is required</div>
                      </div>
                  </div>
                <button [disabled]="!f.form.valid" class="btn btn-primary w-100">Submit</button>
            </form>             
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 text-center my-auto">
            <div class="sociallinks"><a href="" ><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a></div>
            <div class="sociallinks"><a href="" ><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a></div>
            <div class="sociallinks"><a href="" ><i class="fa fa-linkedin" aria-hidden="true"></i>LinkdeIn</a></div>
            <div class="sociallinks"><a href="" ><i class="fa fa-location-arrow" aria-hidden="true"></i>Find us</a></div>
          </div>
        </div>
      </div>
      </div>
      <div class="text-center px-5 pt-5">
        <img style="width:60%; position: relative; bottom: -2px" src="../../../assets/images/tedx-logo.svg" alt="logo">
      </div>
</div>
<footer class="foo footer pt-5">
    <div class="container">
      <div class="row p-3">
        <div class="col-md-10 col-sm-12">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publ
        </div>
        <div class="col-md-2 col-sm-12" style="text-align: right;">
            <div class="sociallinks"><a href="" >Facebook</a></div>
            <div class="sociallinks"><a href="" >Instagram</a></div>
            <div class="sociallinks"><a href="" >LinkdeIn</a></div>
            <div class="sociallinks"><a href="" >Find us</a></div>
        </div>
      </div>
    </div>
    <div style="background-color: #202020" class="text-center p-2 mt-5">Copyright Tedx Akgec 2019</div>
</footer>

