<!-- <p>
  ta-home works!
</p>
<button [routerLink]="['sponsors']">View Sponsors</button>
<button [routerLink]="['admin']">Admin</button> -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <a class="navbar-brand" [routerLink]="['home']"><img src="../../../assets/images/TEDx_AKGEC_Transparent.png" class="ted-logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
  <ul class="navbar-nav">
    <li id="nav-home" class="nav-item is-active">
      <a class="nav-link" (click)="scrollToElement(home, 'nav-home')">Home</a>
    </li>
    <li id="nav-aboutus" class="nav-item">
      <a class="nav-link" (click)="scrollToElement(aboutus, 'nav-aboutus')">About us</a>
    </li>
    <li id="nav-speakers" class="nav-item">
      <a class="nav-link" (click)="scrollToElement(speakers, 'nav-speakers')">Speakers</a>
    </li>
    <li id="nav-sponsors" class="nav-item">
      <a class="nav-link" (click)="scrollToElement(sponsors, 'nav-sponsors')">Sponsors</a>
    </li>
    <li id="nav-team" class="nav-item">
      <a class="nav-link" (click)="scrollToElement(team, 'nav-team')">Team</a>
    </li>
    <li id="nav-contactus" class="nav-item">
      <a class="nav-link" (click)="scrollToElement(contactus, 'nav-contactus')">Contact us</a>
    </li>
  </ul>
  <!-- <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> -->
</div>
</nav>
<div #home class="m-section container-fuild">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div class="m-title">
        <div data-aos="fade-up" data-aos-duration="1000">WE</div>
        <div data-aos="fade-up" data-aos-duration="2000" class="m-orange"> BELONG </div>
        <div data-aos="fade-up" data-aos-duration="3000">TOGETHER</div>
        <div data-aos="fade-up" data-aos-duration="4000">
          <span class="m-element">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br/>
          <a target="_blank" href="" class="m-button">Book Ticket</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 m-landing_img_mob d-md-none d-sm-block d-block">
      <img src="../../../assets/images/college-mobile.png" class="w-100 m-image">
    </div>
    <div data-aos="zoom-in" data-aos-duration="3000" class="m-counter-cont col-md-4">
      <div class="m-counter">
        <span class="m-days">{{data?.data?.eventDate}}</span><br/>
        <span>days left</span>
        <img class="counter-dash1" src="../../../assets/images/dash.svg" alt="">
        <img class="counter-dash2" src="../../../assets/images/dash.svg" alt="">
        <img class="counter-plus1" src="../../../assets/images/plus2.svg" alt="">
        <img class="counter-plus2" src="../../../assets/images/plus2.svg" alt="">
      </div>
    </div>
    <div style="height: 100vh" class="col-md-4 m-landing_img d-md-block d-sm-none d-none" data-aos-duration="3000" data-aos="zoom-in-left">
      <img src="../../../assets/images/college_translucent.png" class="my-auto m-image">
    </div>
    <img data-aos="fade-right" data-aos-duration="2000" src="../../../assets/images/landing-red-tri.svg" alt="" class="d-sm-none d-none d-md-block red-tri">
  </div>
</div>
<div #aboutus class="m-section container-fuild">
  <div class="row no-gutters about">
    <div class="col-md-6">
      <h1 data-aos="fade-right" data-aos-duration="2000" class="section-title">| ABOUT US</h1>
      <div  data-aos="fade-right" data-aos-duration="2000" class="tedx-akgec">
        <div class="about-heading"><img src="../../../assets/images/TEDx_AKGEC_Transparent.png" class="heading-img"></div>
        <div class="about-content" style="padding:1em 2em;">{{data?.data?.aboutUs[0]?.tedx_akgec}}</div>
        </div>
        <div class="cross0 d-sm-none d-none d-md-block">
          <img src="../../../assets/images/red_x_poly.png" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="row no-gutters">
          <div  data-aos="fade-left" data-aos-duration="2000" class="col-12 m-tedSection">
            <h1 class="about-heading" style="color:#000;">
              TED
            </h1>
            <div class="about-content white-text">{{data?.data?.aboutUs[0]?.ted}}</div>
            </div>
            <div  data-aos="fade-left" data-aos-duration="2000" class="col-12 m-tedxSection">
              <h1 class="about-heading" style="color:white;">
                TED<sup>x</sup>
              </h1>
              <div class="about-content white-text">{{data?.data?.aboutUs[0]?.tedx}}</div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div #speakers class="m-section container-fuild">
        <div class="row justify-content-center no-gutters">
          <div class="col-12">
            <h1 data-aos="fade-right" data-aos-duration="2000" class="section-title">| SPEAKERS</h1>
          </div>
        </div>
        <div class="container p-3">
          <div  data-aos="fade-in" data-aos-duration="2000" class="row no-gutters">
            <div class="col-6 col-sm-6 col-md-2 speaker-card my-2" *ngFor="let item of data?.data?.speakers;let i = index;">
              <div class="img-back">
                <img [defaultImage]="defaultImage" [lazyLoad]="getSpeakerURL(i)" [offset]="offset" class="speaker-img" (click)="speakerDetailIndex(i)" data-toggle="modal" data-target="#exampleModalCenter">
              </div>
              <span class="speaker-name">{{data?.data?.speakers[i]?.name}}</span><br/>
              <span class="speaker-post">{{data?.data?.speakers[i]?.designation}}</span>
            </div>
          </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="container-fuild">
                <button type="button" class="close m-3" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="row no-gutters">
                  <div class="col-12 col-sm-12 col-md-5 p-4 speaker-img-modal-bg"><img src="https://tedx-akgec.herokuapp.com/api/uploads/{{data?.data?.speakers[spDetIndex].imgurl}}" class="speaker-img-modal"></div>
                  <div class="col-12 col-sm-12 col-md-7 p-4 description">
                    <h2>{{data?.data?.speakers[spDetIndex]?.name}}</h2>
                    <h4>{{data?.data?.speakers[spDetIndex]?.designation}}</h4>
                    <div class="speaker-desc">
                      {{data?.data?.speakers[spDetIndex]?.description}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div #sponsors class="spon container-fluid">
        <div class="row">
          <div style="margin-top: 80px;margin-bottom: 80px;" class="col-md-12 text-center ">
            <div  data-aos="zoom-in" data-aos-duration="2000" style="display: inline-block; position: relative;">
              <a [routerLink]="['sponsors']" class="sponbut">View Sponsors</a>
              <img class="sponsor-dash1" src="../../../assets/images/dash-white.svg" alt="">
              <img class="sponsor-dash2" src="../../../assets/images/dash-white.svg" alt="">
              <img class="sponsor-plus1" src="../../../assets/images/plus2-white.svg" alt="">
              <img class="sponsor-plus2" src="../../../assets/images/plus2-white.svg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div #team class="team container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="cross">
              <img src="../../../assets/images/X-animated.svg" alt="">
            </div>
            <h1 data-aos="fade-right" data-aos-duration="2000" class="section-title text-white">| TEAM</h1>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div  data-aos="fade-in" data-aos-duration="2000" *ngFor="let img of data?.data?.team;let i = index" [class.down]="i%2 !== 0" class="cont-image col-md-2 col-lg-2 col-sm-6 col-6 my-3">
              <!-- <div class="ratio img-responsive img-circle" [ngStyle]="{'background-image':'url('+img?.picture.large+')'}"></div> -->
              <div class="ratio img-responsive img-circle" [defaultImage]="defaultImage" [lazyLoad]="getTeamURL(i)" [offset]="offset"></div>
              <div class="overlay">
                <div class="text">{{data?.data?.team[i]?.name}}<br /><br />{{data?.data?.team[i]?.designation}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cross2">
          <img src="../../../assets/images/X-animated.svg" alt="">
        </div>
      </div>
      <!-- Contact us -->
      <div #contactus style="padding: 0; margin: 0;" class="contact-us container-fluid">
        <div style="padding: 0; margin: 0;" class="row">
          <div data-aos="fade-right" data-aos-duration="2000" class="col-md-12">
            <h1 class="section-title" style="font-size: 2.5rem;">| CONTACT US</h1>
          </div>
        </div>
        <div class="form-back-red container-fluid">
          <div class="container">
            <div style="padding: 40px;width:80%;"  class="row form-back-black mx-auto">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Enter Name" name="name" [(ngModel)]="model.name" #name="ngModel" [ngClass]="{ 'is-invalid': name.touched && name.invalid }" required>
                    <div *ngIf="name.touched && name.invalid " class="invalid-feedback">
                      <div *ngIf="name.errors.required">Team Name is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" placeholder="Enter email" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': email.touched && email.invalid }" pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' required>
                    <div *ngIf="email.touched && email.invalid" class="invalid-feedback">
                      <div *ngIf="email.errors.required">Email is required</div>
                      <div *ngIf="email.errors.pattern">Enter a valid email</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Message</label>
                    <textarea class="form-control" rows="3" placeholder="Enter Message" name="message" [(ngModel)]="model.message" #message="ngModel" [ngClass]="{ 'is-invalid': message.touched && message.invalid }" required></textarea>
                    <div *ngIf="message.touched && message.invalid " class="invalid-feedback">
                      <div *ngIf="message.errors.required">Message is required</div>
                    </div>
                  </div>
                  <div class="form-group" class="g-recaptcha mb-md-2">
                      <re-captcha [(ngModel)]="model.response" name="response" required siteKey="6LeRVI8UAAAAAET7d1cbpLV0RJffJPc6ImWF4nf5" #response="ngModel"></re-captcha>
                    </div>
                    <div [hidden]="response.valid || response.pristine" class="error">Captcha must be solved</div>
                  <button [disabled]="!f.form.valid" class="btn btn-primary w-100 formbut">Submit</button>
                </form>
              </div>
              <div class="contactus-links-container col-lg-6 col-md-6 col-sm-12 my-auto">
                <div class="sociallinks"><a target="_blank" href="https://www.facebook.com/TEDXAKGEC2019/" ><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a></div>
                <div class="sociallinks"><a target="_blank" href="https://www.instagram.com/tedxakgec/?hl=en" ><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a></div>
                <div class="sociallinks"><a target="_blank" href="https://www.linkedin.com/in/tedx-akgec-8b0974179/" ><i class="fa fa-linkedin" aria-hidden="true"></i>LinkdeIn</a></div>
                <div class="sociallinks"><a target="_blank" href="https://goo.gl/maps/ST5HeG5eJmN2" ><i class="fa fa-location-arrow" aria-hidden="true"></i>Find-us</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center pt-5">
          <img class="footerlogo" src="../../../assets/images/footer-logo.svg" alt="logo">
        </div>
      </div>
      <footer class="foo footer md-pt-2">
        <div class="container">
          <div class="row p-3">
            <div class="footer-para col-md-10 col-sm-12 my-3">
                {{data?.data?.aboutUs[0]?.footer}}
            </div>
            <hr />
            <div class="col-md-2 col-sm-12 footerlinks my-3">
              <div class="sociallinks"><a (click)="scrollToElement(home, 'nav-home')">Home</a></div>
              <div class="sociallinks"><a (click)="scrollToElement(aboutus, 'nav-aboutus')">About us</a></div>
              <div class="sociallinks"><a (click)="scrollToElement(speakers, 'nav-speakers')">Speakers</a></div>
              <div class="sociallinks"><a (click)="scrollToElement(sponsors, 'nav-sponsors')">Sponsors</a></div>
              <div class="sociallinks"><a (click)="scrollToElement(team, 'nav-team')">Team</a></div>
              <div class="sociallinks"><a (click)="scrollToElement(contactus, 'nav-contactus')">Contact us</a></div>
            </div>
          </div>
        </div>
        <div style="background-color: #202020" class="container-fluid p-2 md-mt-5 sm-mt-1">
          <div class="container">
          <div  class="row">
            <div class="text-md-left text-center col-12 col-sm-12 col-md-6 my-auto">&copy; Copyright TedxAKGEC 2019</div>
            <div class="text-md-right text-center col-12 col-sm-12 col-md-6">Developed By <a style="color: #fff; text-decoration: none;" href="http://silive.in"><img style="width:35px;padding: 5px" src="../../../assets/images/SIlogo.png">Software Incubator</a></div>
          </div>
        </div>
        </div>
      </footer>
      <button id="openModalButton" data-toggle="modal" data-target="#exampleModal" [hidden]="true"></button>
      <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="container-fuild">
                <button type="button" class="close m-3" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="row no-gutters">
                  <div class="col-12 col-sm-12 col-md-7 p-4">
                    <h4 style="color: green;" *ngIf="formRes === true">Response Recorded ! Thank You !</h4>
                    <h4 style="color:#f94602;" *ngIf="formRes === false">Something Went Wrong</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      <!-- <button [routerLink]="['sponsors']">View Sponsors</button>
        <button [routerLink]="['admin']">Admin</button> -->
