/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

* {
  font-family: 'Heebo', sans-serif;
}
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(85, 85, 85); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(43, 43, 43); 
  }
  .loading_image{
    position: absolute;
     top: 50%;
     left: 50%;
     width: 300px;
     height: 300px;
     margin-top: -150px; /* Half the height */
     margin-left: -150px; /* Half the width */
  }